<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mini Message Board</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Mini Message Board</h1>
  <div class="nav-links">
    <a href="/new">+ New Message</a>
  </div>

  <ul>
    <% messages.forEach((msg) => { %>
      <li>
        <strong><%= msg.author %></strong>: <%= msg.text %>
        <em>(<%= msg.added_at.toDateString() %>)</em>
        <a href="/message/<%= msg.id %>" class="message-link">Open</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>
