<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mini Message Board</title>
</head>
<body>
  <h1>Mini Message Board</h1>

  <ul>
    <% messages.forEach((msg) => { %>
      <li>
        <strong><%= msg.user %></strong>: <%= msg.text %>
        <em>(<%= msg.added.toDateString() %>)</em>
      </li>
    <% }) %>
  </ul>
</body>
</html>
